@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4 mt-5">Chemical Usage</h1>
    <p><a href="https://hsse.bth.infineon.com/">Visit more page about digitalization HSSE ?</a></p>
</div>
<div class="card mt-5">
    <div class="card-header">
        <div class="card-title mb-4 text-center">Total Chemical</div>
        <div class="row gutters ">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.BAT1FALabCount</h3>
                        <p>BAT1 FA LAB</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.BAT1FacilityCount</h3>
                        <p>BAT1 Facility</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.BAT1A2PlatingCount</h3>
                        <p>BAT1 A2 Plating</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.BAT1PlatingCount</h3>
                        <p>BAT1 Plating</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.BAT3FacilityCount</h3>
                        <p>BAT3 Facility</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>