@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Chemical Usage</h1>
    <p><a href="https://hsse.bth.infineon.com/">Visit more page about digitalization HSSE ?</a></p>
</div>

<div class="card mt-5">
    <div class="card-header">
        <div class="card-title mb-4 text-center">Total Chemical</div>
        <div class="row gutters ">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-style"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.FALabCount</h3>
                        <p>Chemical Area FA Lab</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.PlatingCount</h3>
                        <p>Chemical Area Plating</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-layers1"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.A2PlatingCount</h3>
                        <p>Chemical Area A2Plating</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-compare"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.FacilityCount</h3>
                        <p>Chemical Area Facility</p>
                    </div>
                </div>

            </div>
        </div>
        @* <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-compare"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.FacilityCount</h3>
                        <p>Chemical Area Facility BAT 3</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="info-stats4">
                    <div class="info-icon">
                        <i class="icon-compare"></i>
                    </div>
                    <div class="sale-num">
                        <h3>@ViewBag.FacilityCount</h3>
                        <p>Chemical Area BAT 3 Lab</p>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>
