@model ChemicalProject.Models.Chemical_FALab

@{
    ViewData["Title"] = "Delete";
}   
<div class="row gutters mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row gutters justify-content-center">
                <div class="col-lg-5 col-sm-6 col-12">
                    <form>
                        <div class="card m-0">
                            <div class="card-header">
                                <div class="card-title">Are you sure you want to delete this?</div>
                                <div class="card-sub-title">IF YOU DELETE THIS U DELETE ALL OF DATA INSIDE</div>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="4"></textarea>
                                    <div class="form-text text-muted">
                                        <p id="characterLeft" class="help-block">140 characters left</p>
                                    </div>
                                </div>


                                <button type="button" id="submit" name="submit" class="btn btn-primary float-end">
                                    Submit
                                    Form
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>


@*
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chemical_FALab</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Badge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Badge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Packaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Packaging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Justify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Justify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusManager)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusESH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusESH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
    </dl>
     *@