@model IEnumerable<ChemicalProject.Models.Chemical_FALab>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Badge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChemicalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Packaging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Justify)
            </th>
            
            @* <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Badge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemicalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Packaging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
                <td>
                    @if (item.Status == null)
                    {
                        <span class="text-warning">Waiting for Approval</span>
                    }
                    else if ((bool)item.Status)
                    {
                        <span class="text-success">Approved</span>
                    }
                    else
                    {
                        <span class="text-danger">Rejected</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Justify)
            </td>
                
            @* <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Approval</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
