@model ChemicalProject.Models.Records_FALab

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Records_FALab</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chemical_FALab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chemical_FALab.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Badge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Badge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Justify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Justify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
