@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var isChemicalFALabOrRecordsActive = currentController == "Chemical_FALab" || currentController == "Records_FALab" || currentController == "Waste_FALab";
}

<nav id="sidebar" class="sidebar-wrapper">
    <!-- Sidebar brand start -->
    <div class="w-100 d-flex">
        <a class="navbar-brand mx-auto flex-fill text-center" asp-controller="home" asp-action="index" style="margin-top:20px;">
            <img src="~/img/LOGO.png" width="auto" height="24" alt="Website Logo" class="d-block mx-auto">
        </a>
    </div>
    <hr style="margin-top:1rem;margin-bottom:0;"> <!-- Sidebar brand end -->

    <!-- Sidebar content start -->
    <div class="sidebar-content">
        <!-- sidebar menu start -->
        <div class="sidebar-menu">
            <ul>
                <!-- user menu -->
                <li class="header-menu">USER</li>
                <li class="@(currentController == "Home" ? "active-page-link" : "")">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="icon-home2"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="@(isChemicalFALabOrRecordsActive ? "active-page-link" : "")">
                    <a asp-controller="Chemical_FALab" asp-action="Index">
                        <i class="icon-database"></i>
                        <span class="menu-text">Chemical FA LAB</span>
                    </a>
                </li>

                <!-- admin menu -->
                <li class="header-menu">ADMIN</li>
                <li class="@(currentController == "ApprovalManager" || currentController == "ApprovalESH" ? "active sidebar-dropdown" : "sidebar-dropdown")">
                    <a href="#">
                        <i class="icon-done_all"></i>
                        <span class="menu-text">Request List FA LAB</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a asp-controller="ApprovalManager" asp-action="Index" class="@(currentController == "ApprovalManager" ? "current-page" : "")">
                                    <span class="menu-text">Approval Manager</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="ApprovalESH" asp-action="Index" class="@(currentController == "ApprovalESH" ? "current-page" : "")">
                                    <span class="menu-text">Approval ESH</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="chat.html">
                        <i class="icon-message-circle"></i>
                        <span class="menu-text">Request</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end -->
    </div>
    <!-- Sidebar content end -->
</nav>